<style title="local">
#crn-container-500157 { 
  margin-left: 0px;
}
</style><ion-view class="pane"> 
  <ion-header-bar align-title="center" class="bar bar-positive" xattr-theme="bar-positive" data-component="crn-ion-header-bar" ng-show="false"> 
    <div class="buttons buttons-left header-item"> 
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
    </div> 
    <h1 class="title">Title</h1> 
    <div class="buttons buttons-right header-item"> 
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
    </div> 
  </ion-header-bar> 
  <ion-content data-component="crn-ion-content" class="scroll-content has-header" style="background-color: rgb(228, 101, 43);"> 
    <img alt="Avatar" src="img/Telecommuting-rafiki.png" class="component-holder col-xs-12" style="" xattr-position="" data-component="crn-image" id="crn-image-124149"><div data-replace="false" data-component="crn-container" class="component-holder col-xs-12" id="crn-container-500157">
      <div class="card col-xs-5 btnApp" data-component="crn-card" id="crn-card-975769" ng-click="cronapi.screen.changeView('#/app/logged/home', [{'pag': 1}])">
        
          <h2 data-component="crn-heading" class="component-holder text-center col-xs-12 fontCard" id="crn-heading-2104" xattr-position="text-center">DESCUBRA-SE</h2>
          
        
      </div><div class="card col-xs-5 btnApp" data-component="crn-card" id="crn-card-84481">
        
          <h2 data-component="crn-heading" class="text-center col-xs-12 fontCard" id="crn-heading-12681" xattr-position="text-center">MENTORES</h2>
          
        
      </div><div class="card btnApp  col-xs-12" data-component="crn-card" id="crn-card-76731" ng-click="cronapi.screen.changeView('#/app/public/rankingEmpresas', [])" ng-show="false">
        
          <h2 data-component="crn-heading" class="text-center col-xs-12 fontCard" id="crn-heading-92511" xattr-position="text-center">TOP EMPRESAS</h2>
          
        
      </div><div class="card btnApp  col-xs-11" data-component="crn-card" id="crn-card-80591" ng-click="cronapi.screen.changeView('#/app/public/rankingEmpresas', [])">
        
          <h2 data-component="crn-heading" class="text-center col-xs-12 fontCard" id="crn-heading-53981" xattr-position="text-center">TOP MENTORES</h2>
          
        
      </div>
    </div>
  </ion-content> 
</ion-view>